.calc
{
    width: 400px;
    height: 519px;
    background-color: grey;
    margin-left: 500px;

}
#screen
{
    margin-left: 48px;
    margin-top: 17px;
    /* width: 100px; */
    height: 50px;
    width: 299px;
    pointer-events: none;
}
.btn
{
    width: 72px;
    height: 60px;
    margin-left: 20px;
    margin-top: 15px;
    background-color: bisque;
}